@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<a class="btn btn-primary" asp-action="Index" Permission="createUser">
    Go To Index
</a>

<a class="btn btn-primary" asp-action="Page1" Permission="Page1">
    Go To Page1
</a>